<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Canvas Navigation</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>



  <div class="hero">
    <div class="centered">
        <h2>Projet Module Cloud computing</h2><br/> 
        <h2 >developper par :</h2><br/> 
        <h2>Mahioussi Brahim</h2><br/> 
        <h2>benadda reda</h2><br/> 
        <h2>superviser par Mr Guerid Hihcam</h2>
    </div>
  </div>

<canvas id="bubble"></canvas>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>

  

    <script  src="js/index.js"></script>
    <script  src="{{ url_for('static', filename='js/index.js') }}"></script>



</body>

</html>
